/app/data/*
!/app/data/.gitkeep
/app/geoserver/geoserver_data/logs/geoserver.log
/app/node/node_modules
/.sass-cache
node_modules
dist
/app/geoserver/**/*.pbf
/.vscode
/app/backups
/app/config/ssl/certbot
/app/wp/wp-app
/app/wp/wp-data