aside a, .link {
	color: #337ab7;
	text-decoration: none;
}

.link:hover {
	cursor: pointer;
}

aside a:visited, .link {
	color: #63a0d4;
}


/* OpenLayers styling in Map* components */

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 200px;
  max-height: 280px;
  overflow: scroll;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: sticky;
  top: 0;
  right: 0;
  padding: 0 10px;
  float: right;
  font-size: 1.5em;
}
.ol-popup-closer:hover {
  cursor: pointer;
  text-decoration: underline;
}
.ol-popup-closer:after {
  content: "✖";
}
.ol-popup-content {
  padding: 0.5em;
}

.titletip {
  position: relative;
  left: 18px;
  padding: 3px;
  background: rgba(102, 0, 0, 0.9);
  width: 220px;
  color: white;
  text-align: center;
  opacity: 1;
  font-size: 12pt;
}
